.center-img {
    display: block;
    margin: 0 auto;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.center-img:hover {
    display: block;
    margin: 0 auto;
    opacity: .25;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
h5 a{
    color:#111;
}
h5 a:hover{
    color:#d4d4d4;
}
.search-input-wrapper{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100vw;
    position: relative;
}
.ais-search-box--input {
    padding-top: 1em; padding-bottom: 1em;
    padding-left: 3em;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    box-shadow: 1px 1px 5px 1px #072c3c;
    text-align:center;
}
.ais-search-box--loading-indicator-wrapper svg, .ais-search-box--magnifier svg {
    vertical-align: middle;
    margin-top: .6em;
    height: 30px;
    width: 50px;
}
.ais-search-box--reset svg {
    width: 0px;
}
@media (max-width: 767px){
    .hits {
        display:none;
}}
@media (max-height: 767px){
    .hits{
        display:none;
}}
.hits {
    padding-top: 0; padding-bottom: 1px; padding-left: 1em; padding-right: 1em;
    font-size: 1em;
    background-color: white;
    margin-left: 2em; margin-right: 2em;
    overflow: visible;
}
.hits h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
}
.hits em {
    font-style:normal;
    color: #072c3c;
    font-weight: bold;
    background-color: #d7f3ff;
}
.hits p{
    color: #333;
}
.ais-hits{
    margin: 0 auto;
}
.ais-search-box--magnifier {
    top: 7px;
    left: 7px;
    border-width:0px;
    padding-left: 0px;
    padding-right: 0px;
}
.ais-search-box--magnifier:hover{
    top: 7px;
    left: 7px;
    border-width:0px;
    padding-left: 0px;
    padding-right: 0px;
    fill: #1b6b87;
}
.search-header{
    padding: 0.5em;
}
.i-search-header{
    padding-top: 0; padding-left: 0.5em; padding-right: 0.5em;
    margin-top: 0;
}
.navsearch {
    padding-left: 10px; padding-right: 10px; margin-bottom: 10px;
}
.navsearchbtn:hover {
    background-color: #a5daff;
}
h4{
    font-size: 1em; margin: 0px; padding: 0px;
    font-style:italic;
}